<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="../public/favicon.ico">
  <link rel="stylesheet" href="/templates/style.css">
  <title>danboard-teseve</title>
</head>
<body>
  <!-- 设置 -->
  <form action="">
    <p>端口号: <input type="text" name="port" value="3000"/></p>
    <p>主机名: <input type="text" name="hostName" value="127.0.0.1"/></p>
    <p>入口文件: <input type="text" name="entryFile"" value="index.html"/></p>
    <p>是否使用Gzip: <input name="gzip"" type="checkbox" value="" /></p>
    <p>是否使用缓存: <input name="cache" type="checkbox" value="" /></p>
  </form>
  <section>
    <!-- 偷窥小狗 -->
    <div class="dog-wrap">
      <div class="paw">
        <div class="paw_left">
          <div class="paw_left__part"></div>
          <div class="paw_left__part"></div>
          <div class="paw_left__part"></div>
        </div>
        <div class="paw_right">
          <div class="paw_left__part"></div>
          <div class="paw_left__part"></div>
          <div class="paw_left__part"></div>
        </div>
      </div>
      <div class="puppy">
        <div class="intro">
          Danboard Teseve
        </div>
        <div class="hide"></div>
        <div class="wrap bodyShow">
          <div class="body"></div>
          <div class="tail"></div>
          <div class="head">
            <div class="head_eyebrow">
              <div class="head_eyebrow__left"></div>
              <div class="head_eyebrow__right"></div>
            </div>
            <div class="head_ear">
              <div class="head_ear__left"></div>
              <div class="head_ear__right"></div>
            </div>
            <div class="head_earfold">
              <div class="head_earfold__left"></div>
              <div class="head_earfold__right"></div>
            </div>
            <div class="head_eye">
              <div class="head_eye__left">
                <div class="iris"></div>
                <div class="pupil"></div>
              </div>
              <div class="head_eye__right">
                <div class="iris"></div>
                <div class="pupil"></div>
              </div>
            </div>
            <div class="head_tongue"></div>
            <div class="head_nose"></div>
            <div class="head_top"></div>
            <div class="head_bottom">
              <div class="head_bottom__left"></div>
              <div class="head_bottom__right"></div>
            </div>
            <div class="head_mouth">
              <div class="head_mouth__left"></div>
              <div class="head_mouth__right"></div>
              <div class="head_mouth__top"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 主体部分 -->
    <div class="main">
      1111
    </div>
  </section>
</body>
</html>